#brochures-container {   /* vytvorenie flexibilného kontajnera*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;                                                               /*Naše knihy ChatGPT*/
}

.brochure-item {
    width: 30%; /* Šírka pre 3 brožúry na jednom riadku */
    /*height: auto;*/
    max-width: 200px; /* Max. šírka brožúry*/
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
}

#book-details {
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    text-align: center;
    display: none; /* Počiatočne skryté detaily */
}

#catalogsAndBrochures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.catalog-item {
    width: 30%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
}

#catalogAndBrochureDetails {
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    text-align: center;
    display: none; /* Počiatočne skryté detaily */
}

